{% extends 'base.html' %}

{% block content %}
<div class="user">
    <h1>Profile</h1></br>
    <p><strong>Email: </strong> {{ object.email }}</p>
    <p><strong>Username: </strong> {{ object.username }}</p>
    <p><strong>Articles:</strong></p>
    <ul>
        {% for article in articles %}
        <li>
            <strong> 
                <a href=/articles/{{article.id}}>{{article.title}} </a>
            </strong>
            ({{article.publication_date}}) 
            {% if request.user.is_authenticated %}
            |
            <a href=/user/editor/{{article.id}}>edit</a> |
            <a href=/user/delete/{{article.id}}>delete</a> 
            {% endif %}
        </li> 
        {% endfor %}
    </ul>
</div>
{% endblock content %}